.form-center {
    /* display: flex; */
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem 0;
    align-items: flex-end;
}

.form-group {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* border-bottom: 1px solid var(--primaryColor); */
}

.form-control {
    width: 100%;
    padding: 8px 0 8px 10px;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #eee;
    border-radius: 0;
}
.form-group + .form-group {
    margin-top: 2rem;
}

.form-control:focus {
    border-color: var(--primaryColor);
}

.form-control:focus::placeholder {
    color: #999999;
}

.form-control::placeholder {
    color: #ffffff;
    transition: 0.3s;
}

.form-control + label {
    position: absolute;
    top: 10px;
    display: block;
    min-width: 63px;
    flex-shrink: 0;
    color: var(--mainGray);
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.3s;
}

.form-control:focus + label,
.form-control:valid + label {
    top: -20px;
    font-size: 13px;
    color: var(--mainBlack);
}

