.main-container {
    max-width: 480px;
    width: 90%;
    height: 800px;
    margin: 2rem auto;
    padding: 0 1rem 2rem;
    background: var(--mainWhite);
    box-shadow: 0 0 6px rgba(0,0,0,.16);
    border-radius: 20px;
    overflow-y: auto;
}

.main-container::-webkit-scrollbar {
    width: 5px;
}

.main-container::-webkit-scrollbar-thumb {
    height: 30%;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
}

.main-container::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
}

.total-amount {
    margin-top: 2rem;
    text-align: right;
    font-weight: 700;
    font-size: 1.4rem;
}

.main-title {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1rem 0;
    margin: 0 0 2rem;
    font-size: 1.4rem;
    color: var(--primaryColor);
    background: var(--mainWhite);
}

@media all and (max-width: 375px) {
    .main-container {
        margin: 0 auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        height: auto;
        overflow: unset;
    }
}
