@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primaryColor: #376be3;
    --secondColor: #e2ebff;
    --mainWhite: #ffffff;
    --mainBlack: #222222;
    --mainRed: #c45151;
    --mainGreen: #4caf50;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    color: var(--mainBlack);
}

h1 {
    margin: 1rem 0;
}

.btn {
    text-decoration: none;
    color: var(--mainWhite);
    background-color: var(--primaryColor);
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 14px;
    border: 0;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-icon {
    margin-left: 5px;
}