@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primaryColor: #5a59a9;
    --secondColor: #cedbf5;
    --mainWhite: #ffffff;
    --mainBlack: #222222;
    --mainRed: #c45151;
    --mainGreen: #4caf50;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: var(--secondColor);
    color: var(--mainBlack);
}

h1 {
    margin: 1rem 0;
}